<div class="container">
  <h1 class="text-center">HEALTHEBEACON | CURRENT TEAM RANKINGS</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>RANK</th>
        <th>TEAM NAME</th>
        <th>AVERAGE SCORE</th>
      </tr>
    </thead>
    <tbody>
      <% i = 1 %>
        <% @team_presenter.sorted_team_hash.each do |name, score| %>
        <tr>
          <td align="left"><%= i %></td>
          <td align="left"><%= name %></td>
          <td align="left"><%= score%></td>
        </tr>
        <% i = i + 1 %>
        <% end %>
    </tbody>
  </table>
</div>
