<div class="container">
  <h1 class="text-center">MY TEAM RANKINGS</h1>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>Rank</th>
        <th>Cerner ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
      <% i = 1 %>
      <% @users.each do |u| %>
        <tr>
          <td><%= i %></td>
          <td><%= u.cernerid %></td>
          <td><%= u.first_name %></td>
          <td><%= u.last_name %></td>
          <td><%= u.score %></td>
        </tr>
        <% i = i + 1 %>
      <% end %>
    </tbody>
  </table>
</div>
