<!DOCTYPE html>
<html lang="en">
<head>
  <title>HealtheBeacon</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
  <script>setTimeout(function(){window.location.href='/teams'},3000);</script>
</head>
<body>

<div class="container">
  <h1 class="text-center">Current Team Leader</h1>
  <h3 class="text-center">Healthe Intent | Registries</h3>
</div>

</body>
</html>
