<div class="container">
  <script>setTimeout(function(){window.location.href='/teams'},3000);</script>
  <h1 class="text-center">HEALTHEBEACON | CURRENT LEADING TEAM</h1>
  <h4 class="text-center" id="top-label">
    <%= @team_presenter.leading_team %>
  </h4>
</div>
