<div class="container">
<h1 class="text-center">HEALTHEBEACON | ABOUT</h1>
  <p>
    &emsp;&emsp;With the intent of creating healthier teams and lifestyles, the HealtheBeacon
    application was created for the 2016 Cerner HackFest. Utilizing an iOS
    application, the HealtheBeacon app uses Bluetooth Low Energy (BLE) to
    connect to a Rasberry Pi. One this information is trasnferred to the Raspberry Pi,
    this data is ingested into a Ruby on Rails web application which
    manipulates the data, runs an algorithm to caculate the score and serves
    it all up in an easy to read leaderboard.
  </p>

  <p> The technologies utilized include the following: </p>
    <ul>
      <li>iPhone Application Development</li>
      <li>Raspberry Pi</li>
      <li>Bluetooth Low Energy</li>
      <li>SQL Lite</li>
      <li>Ruby on Rails</li>
      <li>Bootstrap</li>
      <li>html</li>
      <li>CSS</li>
      <li>Adobe Illustrator</li>
      <li>Trello</li>
    </ul>
  <p>
    These are just a few of the languages and technologies utilized throughout
    the past week in the creation of the project.
  </p>

  <p class="text-center">
    Created By: Caleb Bertels, Jack Considine, Nate Demery and Andrew McKittrick.
  </p>
</div>
