@import "bootstrap-sprockets";
@import "bootstrap";

body {
  padding-top: 40px;
  background-color: #70ac43;
  color: white;
}

.navbar-default {
  background-color: #1d94d0;
}

.navbar-default .navbar-brand{
  color: #fff;
}

.navbar-default .navbar-nav>li>a {
  color: #fff;
}

.table-striped > tbody > tr:nth-child(odd) > td, .table-striped > tbody > tr:nth-child(odd) > th {
  background-color: #98c873;
}
