<!DOCTYPE html>
<html>
<head>
  <title>HealtheBeacon</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default navbar-fixed-top">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/teams">HealtheBeacon</a>
    </div>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="/teams">All Teams</a></li>
      <li><a href="/myteam">My Team</a></li>
    </ul>
  </div><!-- /.container-fluid -->
</nav>

<%= yield %>

</body>
</html>
